[submodule "Week8/assignment/UpgradeUSDC/lib/forge-std"]
	path = Week8/assignment/UpgradeUSDC/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Week8/assignment/UpgradeUSDC/lib/openzeppelin-contracts"]
	path = Week8/assignment/UpgradeUSDC/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "Week8/assignment/UpgradeUSDC/lib/solmate"]
	path = Week8/assignment/UpgradeUSDC/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "Week9/class/CastCall/lib/forge-std"]
	path = Week9/class/CastCall/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Week9/assignment/TestERC721A/lib/forge-std"]
	path = Week9/assignment/TestERC721A/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Week9/assignment/TestERC721A/lib/openzeppelin-contracts"]
	path = Week9/assignment/TestERC721A/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "Week9/assignment/TestERC721A/lib/ERC721A"]
	path = Week9/assignment/TestERC721A/lib/ERC721A
	url = https://github.com/chiru-labs/ERC721A
[submodule "Week8/class/Clock/lib/forge-std"]
	path = Week8/class/Clock/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
